
.card-v3__img img {
  max-width:100%;
  height: 210px;
  width: inherit;
  margin: 0 auto;

}
.container p img,
.img-fluid {
    max-width: 100%;
    height: auto;
}
.img-rounded {
    border-radius: 1rem;
}


.has-text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
h1.has-text-shadow-dark{
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

.text-component img{
  margin-bottom: 1rem;
}
.bg{
  background-color: #fff;
}

th, td {
  border:1px solid #cbcbcd;
  padding: 5px 10px;
  text-align: left;
}

.innhold > * {
  max-width: 40rem;
  margin: 2rem auto;
}

.innhold img {
  display: block;
  max-width: 100%;
  height: auto;
}

 .download-attachments{
  background: var(--color-contrast-lower);
  display: block;
  max-width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-contrast-low);
  margin-top: 2rem;
  }
ul.da-attachments-list{
  list-style-type: none;
  li{
    line-height: 2rem;
    img{
      max-width:20px;
      display: initial;
      margin: 0 5px 0 0;
    }

  }
}

a.prod-card__img-link:hover{
  cursor: auto;
}

.alignright{float: right;margin-left: 1rem;}
.alignleft{float: left;margin-right: 1rem;}

.margin--negative{
  margin-top: -1rem;
  position: absolute;
  z-index: 99;
}

// foto av
.credit{
  position: absolute;
  bottom: -50px;
  right: 10px;
}
@media (max-width: 1024px) {
  .credit{
    bottom: -20px;
  }
}

.credit_text {
  font-size: var(--text-sm);
  color: var(--color-primary);
  text-align: center;
}

.bg_overlay,
.bg-overlay{
  //background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi") !important;
  //background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi") !important; /* The least supported option. */

  background:  linear-gradient( 0deg, #00000088 30%, #ffffff44 100%);
  /*background:  //linear-gradient( 0deg, #000000 30%, #ffffff 100%;
  linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    );
  */
}
