
.card-v3__img img {
  max-width:100%;
  height: 210px;
  width: inherit;
  margin: 0 auto;

}
.container p img,
.img-fluid {
    max-width: 100%;
    height: auto;
}
.img-rounded {
    border-radius: 1rem;
}


.has-text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
h1.has-text-shadow-dark{
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

.text-component img{
  margin-bottom: 1rem;
}
.bg{
  background-color: #fff;
}

th, td {
  border:1px solid #cbcbcd;
  padding: 5px 10px;
  text-align: left;
}

.innhold > * {
  max-width: 40rem;
  margin: 2rem auto;
}

.innhold img {
  display: block;
  max-width: 100%;
  height: auto;
}

 .download-attachments{
  background: var(--color-contrast-lower);
  display: block;
  max-width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-contrast-low);
  margin-top: 2rem;
  }
ul.da-attachments-list{
  list-style-type: none;
  li{
    line-height: 2rem;
    img{
      max-width:20px;
      display: initial;
      margin: 0 5px 0 0;
    }

  }
}

a.prod-card__img-link:hover{
  cursor: auto;
}
